apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: backend-sa
      containers:
        - name: backend
          image: 410859982724.dkr.ecr.eu-central-1.amazonaws.com/cs3-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: AWS_REGION
              value: "eu-central-1"

            - name: AWS_DEFAULT_REGION
              value: "eu-central-1"

            - name: EMPLOYEE_TABLE_NAME
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: EMPLOYEE_TABLE_NAME

            - name: EMPLOYEE_PASSWORD_TABLE_NAME
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: EMPLOYEE_PASSWORD_TABLE_NAME

            - name: SQS_QUEUE_URL
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: SQS_QUEUE_URL

            - name: DB_ENGINE
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: DB_ENGINE

            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: DB_HOST

            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: DB_PORT

            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: DB_NAME

            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: worker-config
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_PASSWORD

            # IRSA en STS fix
            - name: AWS_STS_REGIONAL_ENDPOINTS
              value: "regional"

          resources:
            limits:
              cpu: "300m"
              memory: "512Mi"
            requests:
              cpu: "150m"
              memory: "256Mi"
